doctype html
html
    head
        title VR Web Viewer
        meta(charset='utf-8')
        meta(name='description', content='Virtual Tours')
        script(src='/javascripts/aframe-master.min.js')
        script(src='/javascripts/LegacyJSONLoader.js')
        script(src='/javascripts/aframe-tooltip-component.js')
        script(src='/javascripts/camera-position.js')
        script(src='/javascripts/link-controls.js')
        
    body
        a-scene(raycaster='far: 100; objects: [link];' cursor='rayOrigin: mouse' camera-position='')
            a-assets
                img#left(src='/images/left.png')
                img#up(src='/images/up.png')
                img#right(src='/images/right.png')
                img#down(src='/images/down.png')
                img#thumbCity(crossorigin='anonymous' src='https://cdn.aframe.io/link-traversal/thumbs/city.png')


            if vrimage_id != null
                a-sky#image-360(radius='30', src='image/' + vrimage_id)
            else
                a-sky#image-360(radius='10', src='#default')
            
            //a-link(href='city.html' position='-3.5 1.5 -1.0' image='#thumbCity')

            if arrowList.left
                a-link(href='http://localhost:3000/vr/scene/'+ arrowList.left position='-6 1.5 0' rotation='0 90 0' image: '#left')

            if arrowList.up
                a-link(href='http://localhost:3000/vr/scene/'+ arrowList.up position='0 1.5 6' image: '#up')

            if arrowList.right
                a-link(href='http://localhost:3000/vr/scene/'+ arrowList.right position='6 1.5 0' rotation='0 90 0' image: '#right')

            if arrowList.down
                a-link(href='http://localhost:3000/vr/scene/'+ arrowList.down position='0 1.5 -6' rotation='0 0 0' image: '#down')

            a-entity#leftHand(link-controls='hand: left')
            a-entity#rightHand(link-controls='hand: right')

        
